{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static '../../CSS/index.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reconocimiento de Asistencia</title>
</head>
<body>
    <main class="ini-input">
        <div class="centro">
            <form id="login" method="post">
                <img src="{% static '../../img/mlogo.png' %}" style="height: 20%; width: 20%;"><br>
                <hr class="hrcolor">
                <div style="color: white;">Inicio sesión</div>
                <div><input class="ini-input" name="usuario" id="iusuario" type="text" placeholder="Usuario"></div><br>
                <div><input class="ini-input" name="pass" id="ipass" type="password" placeholder="Contraseña"></div><br>
                <div><input type="checkbox" name="show" id="ishow" onclick="toggle()"><label for="ishow" style="color: white;">Ver contraseña</label></div>
                <hr class="hrcolor">
                <div class="centrar">
                    <button class="ini-input" type="submit">Iniciar sesión</button>
                </div>
            </form>
        </div>
    </main>
    <script>
        document.getElementById('login').addEventListener('submit', function(event) {
            event.preventDefault();
            // Aquí puedes realizar validaciones adicionales
            window.location.href = '/asistencia/templates/asistencia/lobby.html';
        });
    </script>
</body>
</html>
